# Build output
**/bin/
**/obj/

# Publish output
publish/
output/

# .NET user-specific files
*.user
*.suo
.vs/
*.DotSettings.user

bundles/

# NuGet
*.nupkg
*.snupkg
**/packages/
!**/packages/build/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.swp
site.tar.gz
test.site.tar.gz
